*{
    background-color: black;
    font-family: fantasy;
    color: red;
    border-radius: 5px;
}


.container1{
margin-top: 50px;
padding-top: 40px;
display: flex;
justify-content: center;
align-items: center;
height: 80vh;

}

.questionboxes{
    background-color: grey;
    padding: 50px;
    border: 10px solid;
    border-radius: 10px;
    margin: 20px;
}

#h1{
    padding: 10px;
    border-radius: 10px;
}

.allchoices{
   padding: 10px;
   

}
#option1, #option2, #option3, #option4{
    margin-top: 50px;
    background-color: red;
    color: black;
   width: 100%;
   text-align: left;
   font-size: large;
   margin: o auto;
   padding: 10px;
   border: 2px solid grey;
    
}

#questions{
    color: whitesmoke;
}


#option1:hover, #option2:hover, #option3:hover, #option4:hover{
    background-color: whitesmoke;
}


#highscores{
    padding: 15px;
}

